@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

:root {
    --main-bg-color: #2874f0;
}

* {
    padding: 0;
    margin: 0;
}

header {
    background: var(--main-bg-color);
    font-family: 'Lato', sans-serif;
}

.logo img {
    width: 88px;
    padding: 0px 25px;
    /* border: 2px solid red; */
}

nav {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    height: 58px;
    justify-content: flex-start;
    align-items: center;
    /* border: 2px solid red; */
}

nav ul li {
    list-style: none;
    padding: 0px 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    font-weight: bolder;
}

.search {
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
}

.search input {
    width: 30vw;
    height: 27px;
    margin: 0px 16px 0px 56px;
    border-radius: 5px;
    padding: 0px 12px;
    /* border: 2px solid red; */
}

.search button {
    font-weight: 900;
    padding: 5px 10px;
    color: white;
    background: var(--main-bg-color);
    border: 2px solid white;
    border-radius: 7px;
    cursor: pointer;
}

.slider {
    width: 80vw;
    margin: 12px auto;
    overflow: hidden;
}

.card {
    max-width: 91vw;
    margin: 37px auto;
    font-family: 'Ubuntu', sans-serif;
    /* border: 2px solid red; */
}

.cards {
    display: flex;
    overflow: hidden;
}

.card-item {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px 16px;
    /* border: 2px solid red; */
}

.text-center {
    text-align: center;
    margin: 5px 0;
}

.my-2 {
    font-weight: bolder;
    margin: 26px 0;
    font-family: 'Lato', sans-serif;
}

.container {
    min-height: calc(100vh - 58px - 12vh);
}

.flex-all-center {
    /* border: 2px solid red; */
    background-color: var(--main-bg-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}